body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333
}

h1 {
    background-color: #1da1f2;
    color: #fff;
    padding: 20px;
    margin: 0;
    text-align: center;
}

h3 {
    text-align: center;
}

#Feed {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin: 0 0 10px;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
